.App {
  padding: 3rem 4rem;
  background-color: #000000;
}

.AppHeading {
  font-weight: 300;
  font-size: 4rem;
  font-style: italic;
}

.AppHeadingBold {
  padding: 1.5rem 0 0 5rem;
  font-weight: 600;
} 

.AppHeadingSection {
  display: flex;
  padding: 10rem 0;
  align-items: center;
  color: #ffffff;
}

.AppHeadingContainer {
  padding: 0 5rem;
  margin-right: 30rem;
}

.AppInformativeBar {
  margin-bottom: 3rem;
}
