.navbar {
  display: flex;
  background: transparent;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  position: relative;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}

.navbar__list::after {
  position: absolute;
  width: 100%;
  height: .1rem;
  content: '';
  left: 0;
  bottom: 0;
  background-color: #FF4E10;
}

.navbar__list-item {
  margin-left: 2rem;
  margin-right: 2rem;
}

.navbar__list-item:first-child {
  margin-left: 0;
}

.navbar__list-item:last-child {
  margin-right: 0;
}

.navbar__list-link {
  position: relative;
  display: inline-block;
  padding: 1.5rem;
  font-weight: 300;
  font-size: 4rem;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border-radius: 1rem 1rem 0 0;
  transition: background-color linear 250ms;
}

.navbar__list-link::after {
  position: absolute;
  width: 100%;
  height: 0.3rem;
  content: '';
  left: 0;
  bottom: -.1rem;
  z-index: 10;
  border-radius: .1rem;
  background-color: #FF4E10;
  opacity: 0;
  transition: opacity linear 250ms;
}

.navbar__list-link:hover {
  background-color: #320F01;
}

.navbar__list-link:hover::after {
  opacity: 1;
}